# Development artifacts
.dub
dub.selections.json
docs.json
__dummy.html
docs/
libpotcake*.so
libpotcake*.dylib
libpotcake*.dll
libpotcake*.a
libpotcake*.lib
potcake*.lib
potcake-test-*
*.exe
*.o
*.obj
*.lst
*.pdb
*.dll

# IDE project files
.idea
*.iml

# Project examples
*-example

# OS files
.DS_Store
